.my-card{
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(170, 1, 250, 0.22);
}
p{
    font-weight: bold;
    font-size: 120%;
}

#price-col{
    color: #AA01FA;
}
#search{
  border: 2px solid rgb(34, 34, 34);
  border-radius: 20px;
  color: black;
}
#search::placeholder{
  padding-left: 5%;
}